@model List<Category>
<div class="container">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-between">
                        <h4 class="card-title">Category Table</h4>
                        <a asp-area="Admin" asp-controller="Category" asp-action="Create" class="btn btn-success">Create</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    User
                                </th>
                                <th>
                                    Settings
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            @foreach (var category in Model)
                            {
                                <tr>
                                    <td>
                                        @category.Id
                                    </td>
                                    <td>
                                        @category.Name
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" asp-area="Admin" asp-action="Details" asp-controller="Category" asp-route-id="@category.Id">Details</a>
                                        <a class="btn btn-warning" asp-area="Admin" asp-action="Update" asp-controller="Category" asp-route-id="@category.Id">Update</a>
                                        <a class="btn btn-danger" asp-area="Admin" asp-action="Details" asp-controller="Category" asp-route-id="@category.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>